@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
}

.top {
  background-image: url("./images/pattern-bg.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 40vh;
}

.bottom {
  height: 60vh;
}

@media (max-width: 500px) {
  .top {
    height: 45vh;
  }

  .ipInfo {
    width: 83%;
  }

  .bottom {
    height: 60vh;
  }
}
